## Group data
After the data have being classified in to different categorise of sentiment via the javascript user interface, they are now concatenated togeter to form a single file

In [1]:
import pandas as pd
import os

In [3]:
from os import listdir
from os.path import isfile, join

mypath= "clean/bank_data/"
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
onlyfiles

['export (11).csv',
 'export (10).csv',
 'export_d5b.csv',
 'export2.csv',
 'bank_240.csv',
 'export (9).csv',
 'bank_dddd.csv',
 'bank_d695.csv',
 'export_d5a.csv',
 'export_3b.csv',
 'bank_d763.csv',
 'data2_400.csv',
 'export_d3a.csv',
 'export.csv',
 'export (8).csv',
 'bank_d79.csv']

In [5]:
df = pd.concat([pd.read_csv("clean/bank_data/"+csv,lineterminator='\n') for csv in onlyfiles],axis=0)

In [6]:
len(df)

7534

In [12]:
df =df.reset_index()

In [13]:
df.head(10)

,index,tweet,sentiment,date,weekday,hour,followers,description
0,0,because they answered you doesnt mean they are...,0,2019-03-06 05:15:05,2.0,5.0,521.0,arab academy alumni member of the nautical in...
1,1,because they answered you doesnt mean they are...,0,2019-03-06 05:15:05,2.0,5.0,521.0,arab academy alumni member of the nautical in...
2,2,there you have it,0,2019-03-06 05:03:39,2.0,5.0,708.0,without christs mercy my life is messychartere...
3,3,ok i understand and i also have some questions...,0,2019-03-06 05:01:35,2.0,5.0,1949.0,am a blogger pr and also a music producer
4,4,i have not been able to use my first bank appl...,1,2019-03-06 04:34:43,2.0,4.0,14.0,principal consultant green consulting
5,5,i recharged a number i was debited but the tra...,1,2019-03-06 04:26:56,2.0,4.0,80.0,avid reader food lover libra selective intr...
6,6,thanks ive confirmed it,0,2019-03-06 03:52:49,2.0,3.0,45.0,in world of so many im untamed one
7,7,pls is it possible to reactivate my dormant ac...,0,2019-03-06 02:27:36,2.0,2.0,75.0,a september born
8,8,i was charged for over 8 times for nip fees fo...,1,2019-03-06 02:21:59,2.0,2.0,154.0,certified physicist computer programmer mange...
9,9,i have already gotten an email by you guys wit...,0,2019-03-06 01:26:10,2.0,1.0,13.0,cool dude

In [14]:
df.tail(10)

,index,tweet,sentiment,date,weekday,hour,followers,description
7524,68,i believe such information even not indepth sh...,0,2019-03-12 08:25:36,1.0,8.0,765.0,a seasoned information systems security expert...
7525,69,i also couldnt find any information or details...,0,2019-03-12 08:25:36,1.0,8.0,765.0,a seasoned information systems security expert...
7526,70,hi i couldnt help but notice that your corpora...,1,2019-03-12 08:25:35,1.0,8.0,765.0,a seasoned information systems security expert...
7527,71,freedomday chil,0,2019-03-12 05:19:50,1.0,5.0,94.0,4 guinness world records holder
7528,72,myfreedomday slum art for freedomwhat ma...,0,2019-03-12 05:12:06,1.0,5.0,94.0,4 guinness world records holder
7529,73,i have a complaint to lodge and i need it to b...,1,2019-03-12 02:40:16,1.0,2.0,3620.0,a system integrator engineer writer comedian a...
7530,74,good day i recharged a 9 mobile line from my o...,1,2019-03-11 20:26:10,0.0,20.0,229.0,young and energetic dude with a passion for te...
7531,75,kindly attend to my request via dm,0,2019-03-11 17:16:52,0.0,17.0,4172.0,feminist slay queen ebtim k gb agd
7532,76,how do i get cooperate account for my business...,0,2019-03-11 17:01:11,0.0,17.0,3.0,lintmux ltd is a gadgets computers sales firm ...
7533,77,i was debited on a first bank atm at abeokuta ...,1,2019-03-11 15:35:00,0.0,15.0,151.0,systems engineer tech enthusiast

In [15]:
df.drop("index",axis=1,inplace=True)

In [16]:
df.to_csv("bank_data.csv",index=False)